body nav {
  padding-top: 1.5em;
  padding-left: 1.5em;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  height: 120px;
  width: 100%;
  z-index: 99;
  background-color: #4056A1;
  color: #FFFFF;
}

body nav .title {
  color: white;
}

body nav .upperRightCorner {
  /* border: 1px solid yellow; */
  width: 20%;

}

body nav .upperRightCorner .texts {
  width: 90%;
  margin: 0 auto;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  /* border: 1px solid yellow */
}

body nav .upperRightCorner .texts h5 {
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-bottom: 15px;
  font-weight: 400;
}

body nav .upperRightCorner .texts h5 span {
  font-weight: 700;
}

body nav .upperRightCorner .downArrow {
  width: 20%;
  margin: 0 auto;
  /* border: 1px solid yellow */
  
}
